body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
    padding: 40px;
}
#transaction-area{
    display: none;
}
.status{
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;

}
.deposit{
    background: slateblue;
}
.withdraw{
    background: lightsalmon;
}
.balance{
    background: orange;
}